<%- include("../partials/head.ejs",{pageTitle: "Perfil-RodBar Delivery"})%>
<link rel="stylesheet" href="/css/profile.css">

<header>
    <%- include("../partials/header.ejs", { req: locals.req }) %>
</header>
<body class="contenedorPrincipal">
    <main class="contenedorSecundario">
        <section class="tarjeta tarjetaUsuario">
            <img src="/images/users/<%= user.avatar%>" alt="imagen del usuario" class="imgPerfil">
            <div class="datos">
                <h2 class="textoPrincipal"><%= user.nombre %></h2>
            </div>
        </section>
        <section class="tarjeta tarjetaUsuario correo">
            <h3 class="textoPrincipal">Correo</h3>
            <p class="textoSecundario"><%= user.email %></p>
            <a href="/editarUser/<%= user.id %>"></a>
        </section>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>