<!doctype html>
<html lang="es">
  <%- include('./partials/head.ejs') %>    
  <head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/administrar.css">
</head>

<body>
    <main class="container-fluid p-0">
      <!--Administrador de productos-->
      <br>
      <section class="row">
        <article class="col-12 ">
          <h2>Administrador de Productos</h2>
        </article>
        <article class="col-12">
          <a href="/crearProducto"><ion-icon name="add-circle-outline"></ion-icon>Agregar</a>
        </article>
        <article class="col-12" >
        <table>
            <thead>
              <tr>  
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <% productos.forEach(producto => { %>
              <tr>
                <td><%= producto.id%> </td>
                <td><%= producto.nombre%> </td>
                <td><a href="/administrar/detail/<%= producto.id%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                <td><a href="/administrar/edit/<%= producto.id%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                <td><a href="/administrar/delete/<%= producto.id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
              </tr>
              <% }); %>
            </tbody>
          </table> 
        </article>       
      </section>
      <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </main>
  </body>
</html>