<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <!-- Header -->
    <%- include('../partials/header')%>
        <!--  Login  -->
        <section class="account-page">
            <form action="/login" method="POST">
                <h2>Iniciar Sesión</h2>
                <div class="form-group">
                    <label for="username">Correo electronico</label>
                    <input type="text" id="username" name="username" placeholder="Ingrese su Email" required>
                    <% if (locals.errors && errors.Email) { %>
                        <div class="text-danger">
                            <%= errors.Email.msg %>
                                <% }%>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña"
                                required>
                        </div>
                        <% if(typeof(errors) !='undefined' && errors.password){%>
                            <span class="text-danger">
                                <%= errors.password.msg %>
                            </span>
                            <%}%>
                            <label for="">recordame</label>
                            <input type="checkbox" name="remember_user"/>
                                <div class="fpassword">
                                    <label for="password">¿Olvidaste tu contraseña?</label>
                                </div>

                                <button type="submit" class="btn-login">Iniciar Sesión</button>
                                <div class="haveacc">
                                    <label for="haveaccount"><a href="/register">¿No tenés cuenta?</a></label>
                                </div>
            </form>
        </section>
        <!-- Footer -->
        <%- include('../partials/footer')%>
</body>

</html>