<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de perfil de ecommerce</title>
    <%- include('../partials/head')%>
</head>
<%- include('../partials/header')%>

    <body>
        <div class="container">
            <div class="row">
                <h2>Hola <%= user.nombre%></h2>
                <img src="/images/users/<%= user.avatar%>" alt="Foto de perfil" class="profile-image">

                <h1 class="profile-name"></h1>

            </div>
        </div>
    </body>
    <%- include('../partials/footer')%>

</html>